/* Bảng dữ liệu */
.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%; /* Chiếm toàn bộ chiều rộng vùng nội dung */
    max-width: 100%; /* Đảm bảo không vượt quá vùng chứa */
}

.data-table {
    width: 100%; /* Bảng giãn theo chiều rộng vùng chứa */
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.data-table th, .data-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Căn giữa nội dung */
}


.table-container h3 {
    margin-bottom: 10px;
    color: #555;
    font-size: 18px;
}


.data-table thead {
    background-color: #f4f4f4;
}


.data-table th {
    color: #333;
    font-weight: bold;
    text-transform: uppercase; /* Viết hoa chữ */
}

.data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

.data-table td:last-child {
    color: #007bff; /* Màu xanh cho chữ "TẮT" và "BẬT" */
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.data-table td:nth-child(5) {
    color: #333; /* Màu đậm cho cột "BẢO TRÌ" */
}
